body{
    margin: 0;
    padding: 0;
}
*{
    margin: 0 auto;
    padding: 0;
}
.header{
    background-color: #014E56;
    width: 1516px;
    height: 700px;
   
   
    &__menu{
        list-style: none;
        display: flex;
    }
    &__title{
        margin-top: 57px;
        margin-left: 60px;
    }
    &__title a{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
    }
    &__title a:hover{
        text-decoration: underline;
        color: red;
    }
    &__logo{
        margin-top: 50px;
        margin-left: 165px;
    }
    &__btn{
        width: 153px;
        height: 48px;
        margin-left: 648px;
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        background-color: transparent;
        border: 1px solid #FFFFFF;
        border-radius: 20px;
        cursor: pointer;
    }
    &__btn:hover{
        color: #014E56;
        background-color: #FFFFFF;
    }

}
.find__block{
    color: #FFFFFF;
    display: inline-block;
   }
   .find__block h1{
    margin-top: -180px;
    margin-left: 165px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
   }
   .find__block p{
    margin-left: 235px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
   }
   .find__block img{
    margin-top: 100px;
   }
   .find__block h1 span{
    color: #F67E7E;
   }
.find__block::before{
    content: url(./img/intro-bottom-bg.png);
    position: absolute;
    width: 270px;
    height: 200px;
    left: 917px;
    top: 600px;
}